.loader {
  animation: spin 1.5s ease-in-out 5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.headers {
  font-size: 40px;
  color: #076bd6;
  font-family: "roboto";
}
